{% load static %}
{% if alerts %}
<script>
alert("Thank you for trusting us")
location.href = "{% url 'Sawi:index' %}"
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page_title }}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'Sawi/css/reset.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'Sawi/css/style.css' %}" type="text/css" media="all">
<script type="text/javascript" src="{% static 'Sawi/js/jquery-1.4.2.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'Sawi/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'Sawi/js/cufon-replace.js' %}"></script>
<script type="text/javascript" src="{% static 'Sawi/js/Myriad_Pro_300.font.js' %}"></script>
<script type="text/javascript" src="{% static 'Sawi/js/Myriad_Pro_400.font.js' %}"></script>
<script type="text/javascript" src="{% static 'Sawi/js/script.js' %}"></script>
<script src="{% static 'Sawi/js/jquery-1.12.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Sawi/js/ajSlider.js' %}"></script>

<!--[if lt IE 7]>
<link rel="stylesheet" href="{% static 'Sawi/css/ie6.css' %}" type="text/css" media="screen">
<script type="text/javascript" src="{% static 'Sawi/js/ie_png.js' %}"></script>
<script type="text/javascript">ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');</script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="{% static 'Sawi/js/html5.js' %}"></script><![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="wrap">
  <header>
    <div class="container">
      <h1><a href="#">Sofwat site</a></h1>
      <nav>
        <ul>
         <li class="current"><a href="{% url 'Sawi:index'%}" class="m1">Home Page</a></li>
          <li><a href="{% url 'Sawi:about'%}" class="m2">About Us</a></li>
          <li><a href="{% url 'Sawi:admission'%}" class="m3">Admission</a></li>
          <li><a href="{% url 'Sawi:contact'%}" class="m4">Contact Us</a></li>
          <li class="last"><a href="{% url 'Sawi:courses'%}" class="m5">Courses</a></li>
   
        </ul>
      </nav>
      <form action="" id="search-form" method="get">
        {% csrf_token %}
        <fieldset>
          <div class="rowElem">
            {{ searchForm.query }}
            <a href="#">Search</a></div>
        </fieldset>
      </form>

      {% if shows %}
      <span style="color: red">
       {{ bookmark }}
     </span>
      {% endif %}
    </div>
  </header>
  <div class="container">
    <aside>
      <h3>Categories</h3>
      <ul class="categories">
        <li><span><a href="#">Events</a></span></li>
        <li><span><a href="#">Student Portal</a></span></li>
        <li><span><a href="#">Faculty</a></span></li>
        <li><span><a href="{% url 'Sawi:gallery' %}">Gallery</a></span></li>
        <li><span><a href="#">Administrators</a></span></li>
        <!-- <li><span><a href="#">Basic Information</a></span></li> -->
        <li><span><a href="#">Vacancies</a></span></li>
        <li class="last"><span><a href="#">Academics Calendar</a></span></li>
      </ul>
      <form action="#" id="newsletter-form">
        <fieldset>
          <div class="rowElem">
            <h2>Newsletter</h2>
            <input type="email" value="Enter Your Email Here" onFocus="if(this.value=='Enter Your Email Here'){this.value=''}" onBlur="if(this.value==''){this.value='Enter Your Email Here'}" >
            <div class="clear"><a href="#" class="fleft">Unsubscribe</a><a href="#" class="fright">Submit</a></div>
          </div>
        </fieldset>
      </form>
      <h2>News <span>and</span>Announcement</h2>
      
      <ul class="news">
        {% if latest_news %}
        {% for new in latest_news %}
        <li><strong>{{ new.datePosted }}</strong>
          <h4><a href="sawi/news/{{new.title}}"> {{ new.title }}</a></h4>
          {{ new.brief }}</li>
        <!--<li><strong>June 14, 2010</strong>
          <h4><a href="#">Neque porro quisquam est</a></h4>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit consequuntur magni. </li>
        <li><strong>May 29, 2010</strong>
          <h4><a href="#">Minima veniam, quis nostrum</a></h4>
          Uis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae. </li> -->
      {% endfor %}
      {% else %}
      <li><strong>No news available</strong>
      {% endif %}
      </ul>
<!-- Social Media Aside -->
    <h2> Social Medias </h2>
    <ul class="social">
        <li> <img src="{% static 'Sawi/images/sofwat/fb.png' %}"> </li>
        <li> <img src="{% static 'Sawi/images/sofwat/insta.png' %}"></li>
        <li> <img src="{% static 'Sawi/images/sofwat/messenger.png' %}"></li>
      </ul>

    </aside>
    <section id="content">
             <div id="ajSlider"> 
  <img src="{% static 'Sawi/images/sofwat/verse.jpg' %}" width="691" height="299">    
  <img src="{% static 'Sawi/images/sofwat/lec1.jpg' %}" width="691" height="299">    
  <img src="{% static 'Sawi/images/sofwat/hadith.jpg' %}" width="691" height="299">    
  <img src="{% static 'Sawi/images/sofwat/ban1.jpg' %}" width="691" height="299">    
  <img src="{% static 'Sawi/images/sofwat/verse2.jpg' %}" width="691" height="299">    
 
  <a>Quranic verse of the day</a> 
  <a>Founder delivering lecture during Ramadan</a> 
  <a>From the Hadith</a> 
  <a>Info About image 4</a> 
  <a>From the glorious Quran</a> 
</div> 
      <!-- <div id="banner">

        <h2>Zawiyat Sofwat <span>El-Islam Jammat <span>Since 1985</span></span></h2>
      </div> -->
      <div class="inside">
        <h1> Form Length {{ length }} </h1>
        {% if form %}
        {% for frm in form %}
           <form method="post" action="{%url 'Sawi:test'%}">
            {% csrf_token %}
             {{ frm.as_table }}
          <input type="submit" value="Alert Records" />
          </form>
        {% endfor %}
        {% endif %}
      </div>
      <div>
               {% if fileForm %}
              <form name="fileupload" method="POST" enctype="multipart/form-data" action="">
                 {% csrf_token %}
                 {{ fileForm.as_table }}

                 <input type="submit" value="Move File">
              </form>
              {% endif %}
      </div>
      </div>
    </section>
  </div>
</div>

<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2018 <a href="#">Sofwat{{ institute }}</a> - All Rights Reserved</p>
    <p class="mf">
      <ul>
      <li>Softwat El-Islam </li>
      <li> </li>

      </ul>

     </p>
    <p class="rf">Design by <a href="http://www.simplyclassy.com.ng/">Classic Concepts</a></p>
    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>
<script type="text/javascript">
$(document).ready(function() {  
  $('#ajSlider').ajSlider(3000);    
}); 
</script>